<!--<nav class="navbar fixed-bottom navbar-light bg-light">
{%- if site.show-style-guide %}
    <a href="{{ site.baseurl }}{% link style-guide/index.md %}" class="btn">Style Guide</a>
{%- endif %}
</nav>-->

<footer class="footer">
    <div class="container containerfooter">    
        <div class="row rowfooter">
            <div class="col-4">
                <div class="logofooter">
                    <img src="{{ site.baseurl }}/images/logominuten.svg" alt="logominuten">      
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-4 introfooter">
                <p>Voor de tijdoptimisten net als wij.
                <br>Wij geven om jouw productiviteit.</p>
            </div>
            <div class="col-2">
                <a href="#">Home</a>
            </div>
            <div class="col-2">
                <a href="./product.html">Product</a>
            </div>
            <div class="col-2">
                <a href="./contact.html">Contact</a>
            </div>
            <div class="col-2 volgons">
                <p>Volg ons</p>
                	
            <a href="https://www.instagram.com/" target="blank"><i class="fa fa-facebook-square socialmediaicon" aria-hidden="true"></i></a>
            <a href="https://www.facebook.com/" target="blank"><i class="fa fa-instagram socialmediaicon" aria-hidden="true"></i></a>
                
            </div>
        </div>
        <div class="row">
            <div class="col-4 mailnr">
                <p>minuten.verhuur@scarlet.be</p>
                <p>02 666 01 23</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center copyright">
                <p>© Mathilde Waeterloos & Emma Suy</p>
            </div>
        </div>
</footer>
</div>
