<!--<nav class="navbar fixed-bottom navbar-light bg-light">
{%- if site.show-style-guide %}
    <a href="{{ site.baseurl }}{% link style-guide/index.md %}" class="btn">Style Guide</a>
{%- endif %}
</nav>-->

<footer class="footer">
    <div class="container containerfooter">    
        <div class="row rowfooter">
            <div class="col-md-4 col-12 d-flex justify-content-center justify-content-md-start">
                <div class="logofooter">
                    <img src="{{ site.baseurl }}/images/logominuten.svg" alt="logominuten">      
                </div>
            </div>
        </div>
        <div class="row rowlinks">
            <div class="col-md-4 col-12 introfooter d-flex justify-content-center justify-content-md-start">
                <p>Voor de tijdoptimisten net als wij.
                <br>Wij geven om jouw productiviteit.</p>
            </div>
            <div class="col-md-6 col-6 d-flex align-items-end flex-column flex-md-row justify-content-md-around align-items-md-start">
                <a class="paginalinks" href="./index.html">Home</a>
                <a class="paginalinks" href="./product.html">Product</a>
                <a class="paginalinks" href="./contact.html">Contact</a>
            </div>
            <div class="col-md-2 col-6 volgons">
                <p>Volg ons</p>
                <a class="a-tagsocialmedia" href="https://www.facebook.com/" target="blank"><i class="fa fa-facebook-square socialmediaicon" aria-hidden="true"></i>Facebook</a>
                <a class="a-tagsocialmedia" href="https://www.instagram.com/" target="blank"><i class="fa fa-instagram socialmediaicon" aria-hidden="true"></i>Instagram</a>
                
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-12 mailnr d-flex justify-content-center justify-content-md-start">
                <p>minuten.verhuur@scarlet.be</p>
            </div>
            <div class="col-md-12 col-12 mailnr d-flex justify-content-center justify-content-md-start">
                <p>02 666 01 23</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 d-flex justify-content-center copyright">
                <p>© Mathilde Waeterloos & Emma Suy</p>
            </div>
        </div>
</footer>
</div>
