@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Barlow:800');
@import url('https://fonts.googleapis.com/css?family=Barlow:500');
@import url('https://fonts.googleapis.com/css?family=Barlow:600');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400');


/*HOME*/

h1{
    font-family:"Barlow",sans-serif;
    text-transform: uppercase;
    font-weight:800;
    font-size:49px;
    color:rgb(9,33,64);
    margin-bottom:20px;
}
.fluid-rood{
    background-color: rgb(255,71,56);
}
.fluid-head{
    height:90vh;
        .rowheader{
            .logominuten{
                width:270px;
                margin-bottom:60px; 
            }
            .introhome{
                font-family:"Barlow",sans-serif;
                text-transform: uppercase;
                color:white;
                font-weight: 500;
                font-size: 15px;
                p{
                    padding-right:50px; 
                }
            }  
        }
}

.div-scrollarrow{   
    height:60px; 
        .scrollarrow{
            background-image:url(images/scrollarrow.svg);
            background-repeat:no-repeat;
            background-size:100%;
            width:50px;
            margin-top:20px;
        }
        .scrollarrow:hover{
            background-image:url(images/scrollarrowrood.svg);
        }
        .scrollarrow:focus{
            background-image:url(images/scrollarrowrood.svg);
        }
}




    
.definitie{
    color:rgb(9,33,64);
    margin-top:120px;
}

.titeldefinitie{
    font-family:"Barlow",sans-serif;
    text-transform:uppercase;
    font-weight:600;
    font-size:20px;
}

.tekstdefinitie{
    font-weight:500;
    font-style:italic;
}

.fluid-blauw{
    background-color:rgb(143,221,178);
}

.fluid-wiezijnwe{
    margin-top:120px;
    height: 760px;
    margin-bottom:230px;
        .titelwiezijnwe{
            margin-top:-30px;
        }
        .tekstwiezijnwe{
            color: white;
        }
        .tekstwiezijnwe-blauw{
            color:rgb(9,33,64);
            font-weight:600;
        }
}

.fluid-wintijd{
    height:310px;
    margin-bottom:200px;
    .titelwintijd{
        margin-top:-90px;
    }
    .tekstwintijd{
        color:white;
        margin-bottom:30px;
    }
    .button-win{
        margin-bottom:100px;
        border-radius:0;
        border-width:3px;
        width:300px;
        border-color:rgb(9,33,64);
        color:rgb(9,33,64);
        font-family:"Barlow",sans-serif;
        text-transform:uppercase;
        font-weight:800;
        font-size:22px;
    }
    .button-win:hover{
        background-color:rgb(9,33,64);
        color:white;
        border-color:white;
    }
    .button-win:active{
        border-color:rgb(9,33,64) !important;
        color:rgb(9,33,64) !important;
        background-color: inherit !important;
        box-shadow:none !important;
    }
    .button-win:focus{
        box-shadow:none !important;
    }   
}

/*CONTACT*/

.fluid-contact{
    margin-top:120px;
    height:600px;
    margin-bottom:150px;
    h1{
        margin-top:-30px;
        margin-bottom:50px;
    }
    .tekstcontact{
        color:white;
        .fa{
            font-size:20px;
            padding-bottom:20px;
            padding-right:20px;
        }
    }
    .form{
        background-color:white;
        height:570px;
        width:100%;
        border:5px solid rgb(255,71,56);
        font-family:"Barlow",sans-serif;
        padding-top:20px;
        .aarzelniet{
            color:rgb(9,33,64);
            text-transform:uppercase;
            font-weight:800;
        }
        .form-group{
            margin-top:30px;
            margin-bottom:40px;
        }
        .berichtvak{
            height:200px;
        }
    } 
}

.button-verzenden{
    margin-bottom:30px;
    border-radius:0;
    border-width:3px;
    height:50px;
    width:100%;
    background-color: rgb(9,33,64);
    color:white;
    font-family:"Barlow",sans-serif;
    text-transform:uppercase;
    font-weight:800;
    font-size:18px;
}
.button-verzenden:hover{
    color:rgb(9,33,64);
    border-color:rgb(9,33,64);
    background-color:white!important;
}
.button-verzenden:active{
    color:white !important;
    background-color:rgb(9,33,64) !important;
}
.btn:focus,.btn-outline-primary:focus{
    box-shadow:none !important;
}



/* PRODUCT */

.fluid-product{
    margin-top:120px;
    height:1650px;
    margin-bottom:120px;
    h1{
        margin-top:-30px;
        margin-bottom:50px;
    }
    .tekst-product{
        color:white;
        margin-bottom:50px;
    }
}


.cijferproduct{
    width:40px;
    position: relative;
    z-index:0;
    left:30px;
}

.table {
    tr{
        height:30px;
        
        td{
        position:relative;
        z-index:1;
        left:-30px;
        color: rgb(9,33,64);
        padding:0px;
        vertical-align: bottom;
        font-family:"Barlow",sans-serif;
        border:none;
        }
        .elementmidden{
            padding-right:0px;
            font-weight:bold;
            width:200px;
        }

    }
}

.divbutton{
    margin-top:30px;
    .buttonhuur{
        width:100%;
        margin-bottom:50px;
        border-radius:0;
        border-width:3px;
        height:50px;
        background-color:rgb(143,221,178);
        color:white;
        border-color:white;
        font-family:"Barlow",sans-serif;
        text-transform:uppercase;
        font-weight:800;
        font-size:18px;
    }
    .buttonhuur:hover{
        color:rgb(9,33,64);
        border-color:rgb(9,33,64);
    }
    .buttonhuur:active{
        color:rgb(143,221,178) !important;
        background-color:rgb(9,33,64) !important;
    }
    .btn:focus,.btn-outline-primary:focus{
        box-shadow:none !important;
    }

} 





// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
    .fluid-head{ 
        height:80vh;  
        .rowheader{
            width:100%;
                .logominuten{
                width:50%;
                }
                .introhome{
                    padding-right:150px;
                }
        } 
        
    }

    .fluid-wiezijnwe{
        height: 640px;
    }
    .fluid-wintijd{
        height:290px;
    }

    /*CONTACT*/
    .fluid-contact{
        height:470px;
        margin-bottom:120px;
        .form{
            width:500px;
        }
    }

    /*PRODUCT*/
    .fluid-product{
        height:1100px;
    }
    .divbutton{
        .buttonhuur{
            width:280px;
        }
    }
    .table{
        margin: 0 auto;
    }

    .tablezeven{
        margin:0 0 0 25px;
    }

    }


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
.fluid-head{ 
    height:90vh; 
    .rowheader{
        .logominuten{
            width:60%;
            margin-left:0px;
            margin-bottom:0px;
        }
        .introhome{
            padding-right:0px;
            p{
                padding-right:0px;
            } 
        } 
    }  
}
.rowheader{
    display:flex;
    flex-direction:row-reverse; 
}
.fluid-wiezijnwe{
    height: 520px;
}
.tablezeven{
    margin:0px;
}
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}