@import url('https://fonts.googleapis.com/css?family=Lato:300');
@import url('https://fonts.googleapis.com/css?family=Barlow:300');

footer{
    background-color:rgb(24,35,61);
    height:600px;
    color:white;
    font-family:"Barlow",sans-serif;
    font-weight:300;
    font-size:14px;
    padding-top:60px;
    .logofooter{
        width:150px;
        margin-bottom:40px;
    }
    .introfooter{
        margin-bottom:30px;
    }
    a{
        color:white;
        display:inline;
        text-transform:uppercase;
        transition: all 0.2s ease;
    }
    a:hover{
        font-weight:bold;
        text-decoration:none;
        color:rgb(255,71,56);
    }
    a:active{
        color:rgb(255,71,56);
    }
    .a-tagsocialmedia{
        display:block;
        text-transform:lowercase;
        text-transform:capitalize;
        color:rgb(134,134,134);
        font-size:12px;
        .socialmediaicon{
            font-size:20px !important;
            padding-top:10px;
            padding-right:10px;
            color:white;
        }   
    }

    .mailnr{
        font-family:"Lato",sans-serif;
        font-weight:300;
    }
    .copyright{
        font-size:12px;
        color:rgb(134,134,134);
        margin-top:50px;
    }
}
.rowlinks{
    margin-bottom:50px;
    .paginalinks{
        padding-bottom:16px;
    }
}

// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {

footer{
    height:420px;
    .logofooter{
        width: 100px;
    }
    a:active{
        color:rgb(255,71,56);
    }
}
.rowlinks{
    margin-bottom:0px;
    .paginalinks{
        display: block;
    }
}

}


// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    footer{
        a:active{
            color:white;
        }
    }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {}