@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400');

.navbar{
    background-color:rgb(24,35,61) !important;
    ul{
        font-family:"Barlow",sans-serif;
        text-transform:uppercase;
        li{
            transition: border 0.2s linear;
            height:50px;

            a.nav-link:active{
                color:rgb(143,221,178) !important;
            }
            a.nav-link:focus{
                color:rgb(143,221,178) !important;
            }
        }
    }
}





// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
    .navbar{
        height:70px;
            ul{
                margin-right:50px;
                li{
                    padding-left:30px;
                    padding-right:30px;
                    transition: border 0.2s linear;
                    border-top:0px;
                    height:50px;
                    a.nav-link:active{
                        color:white !important;
                    }
                    a.nav-link:focus{
                        color:white !important;
                    }
                }
                li:hover{
                    border:1px solid white !important;
                }
                li:active{
                    border:0px !important;
                    color:white !important;
                }
                li:focus{
                    border:1px solid white !important;
                    color:white !important;
                    outline:0px;
                }
            }
        }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}