@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:300,400');

nav{
    background-color:rgb(24,35,61) !important;
    ul{
        font-family:"Barlow",sans-serif;
        text-transform:uppercase;
        li{
            transition: border 0.5s ease-out;
            height:60px;
            border-top: 1px solid rgb(134,134,134);

            a.nav-link:active{
                color:rgb(143,221,178) !important;
            }
            a.nav-link:focus{
                color:rgb(143,221,178) !important;
            }
        }
    }
}





// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {

 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
   nav{
    height:70px;
        ul{
            margin-right:50px;
            li{
                padding-left:30px;
                padding-right:30px;
                transition: border 0.5s ease-out;
                border-top:0px;
                height:50px;
            }
            li:hover{
                border:1px solid white;
            }
            li:focus{
                border:1px solid rgb(143,221,178);
                outline:0px;
            }
            li:active{
                border:2px solid rgb(143,221,178);
            }

        }
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {

}